body {
    margin: 0px;
    transition: opacity 1s ease-out;
}

body.fadeOut {
    opacity: 0.6;
    background-color: black;
}

.menu {
    width: 100%;
    background-color: black;
}

.menu-wrapper {
    width: 95%;
    margin: 0px auto;
}

.header {
    display: flex;
}

.logo {
    width: 100%;
}

.nav-bar {
    width: 40%;
}

.logo-wrapper,
.logo-footer-wrapper {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 30px;
    padding: 15px;
    padding-left: 20px;
}

.oneplus {
    width: 200px;
}

ul#nav-ul {
    list-style-type: none;
}

li.nav-li a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 14px 16px;
    font-size: 15px;
    display: block;
    text-decoration: none;
}

li.nav-li {
    float: left;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    /*padding: 14px 16px;*/
    background-color: black;
    width: 142px;
    display: none;
    z-index: 2;
}

.droplink {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.droplink:hover {
    text-decoration: none;
    color: red;
}

.dropdown:hover .dropdown-content {
    display: block;
    transition: 0.2s all;
}

.first {
    /* margin: 10%; */
    /*    margin-top: 2%;*/
}

.section {
    position: relative;
    width: 100%;
    height: 620px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container {
    position: absolute;
    /* top: 0;*/
    left: 0;
    width: 100%;
    height: auto;
}

.sub {
    display: block;
    z-index: 1;
    background-color: black;
    width: 100%;
    opacity: 0.7;
}

.heading {
    text-align: center;
    font-size: 50px;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    opacity: 1;
    z-index: 1;
    font-weight: 200;
}

.second-wrapper {
    display: flex;
    background-color: rgba(0, 0, 0, 0.87);
    outline: none;
    border-radius: 15px;
    padding: 25px;
}

.constant {
    width: 50%;
}

.image {
    width: 70%;
    margin-left: 15%;
    margin-top: 8%;
}

.description {
    width: 80%;
    margin-right: 15px;
    z-index: 1;
}

.description-wrapper {
    color: white;
    font-size: 88px;
    margin-left: 10%;
    font-family: 'Exo', sans-serif;
}

li.desc {
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    padding: 3px;
    font-weight: 100;
    line-height: 30px;
}

footer {
    background-color: black;
}

.footer-wrapper {
    display: flex;
}

.fs1,
.fs2,
.fs3,
.fs3,
.fs4 {
    width: 25%;
}

.logo-footer-wrapper {
    margin-top: 40px;
}

.location,
.more-info {
    width: 100%;
}

.location-wrapper {
    width: 90%;
    display: flex;
}

.location1 {
    width: 45%;
}

.location1-heading {
    color: white;
    font-weight: 700;
    margin-top: 55px;
    font-family: 'Roboto', sans-serif;
}

p.location1-address,
p.location2-address {
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

p.location1-address {
    border-right: 1px solid rgba(250, 250, 250, 0.1);
    margin-top: 35px;
    font-family: 'Roboto', sans-serif;
}

p.location2-address {
    margin-left: 20px;
    position: absolute;
    top: 47%;
    font-family: 'Roboto', sans-serif;
}

.location2 {
    width: 45%;
    position: relative;
}

p.copyright-footer {
    color: white;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
}

p.phone-footer {
    margin-top: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p.email-footer {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.moreinfo-heading {
    color: white;
    margin-top: 55px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.more-info-wrapper {
    margin-left: 65px;
}

h5.social-heading {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 55px;
    font-weight: 700;
}


/*Media Query starts*/

@media screen and (max-width:1024px) {
    .logo {
        width: 40%;
    }
    .nav-bar {
        width: 60%;
    }
    .circulardiv1,
    .circulardiv2,
    .circulardiv3,
    .circulardiv3,
    .circulardiv4 {
        margin: 50px 20px 50px;
    }
    h4.heading-service {
        font-size: 20px;
        margin-left: 19px;
    }
}

@media screen and (max-width:768px) {
    .logo {
        width: 30%;
    }
    .nav-bar {
        width: 70%;
    }
    li.nav-li a {
        font-size: 12px;
    }
    .tophead-heading {
        font-size: 40px;
    }
    #tophead-text {
        font-size: 15px;
    }
    .letsstart {
        width: 142px;
        padding: 8px;
    }
    .letsstart a {
        font-size: 15px;
    }
    .circulardiv1,
    .circulardiv2,
    .circulardiv3,
    .circulardiv3,
    .circulardiv4 {
        width: 100px;
        height: 100px;
        margin: 50px 26px 50px;
    }
    .image-service {
        margin: 18px;
    }
    .continue-reading {
        width: 139px;
        padding: 7px;
        margin-left: 13px;
    }
    .continue-reading a {
        font-size: 13px;
    }
    .text-services p {
        font-size: 14px;
    }
    h4.gallery-heading {
        font-size: 22px;
    }
    .text-gallery p {
        font-size: 14px;
    }
    .gallery-li a {
        font-size: 15px;
    }
    .images-gallery {
        width: 225px;
        height: 180.02px;
    }
    .our-gallery {
        height: 620px;
    }
    h4.heading-service {
        font-size: 15px;
        margin-left: 6px;
    }
    .text-services p {
        margin-left: 7px;
    }
}

.fa {
    padding: 5px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #FCF645;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width:767px) {
    .header {
        display: block;
    }
    .nav-bar {
        width: 100%;
        height: auto;
        background-color: black;
    }
    .nav-wrapper {
        text-align: center;
    }
    ul#nav-ul {
        padding: 0px;
    }
    li.nav-li {
        float: none;
    }
    .logo-wrapper {
        font-size: 25px;
        padding: 10px;
    }
    .logo-wrapper {
        font-size: 25px;
    }
    .tophead-heading {
        font-size: 35px;
        top: 35px;
    }
    #tophead-text {
        font-size: 13px;
        top: 35px;
    }
    .letsstart {
        width: 125px;
        top: 30px;
    }
    .letsstart a {
        font-size: 12px;
    }
    .circulardiv1,
    .circulardiv2,
    .circulardiv3,
    .circulardiv3,
    .circulardiv4 {
        margin: 0 auto;
    }
    h4.heading-service {
        margin-left: 0px;
    }
    .services-wrapper {
        display: block;
    }
    .service1,
    .service2,
    .service3,
    .service4 {
        width: 100%;
        padding-top: 50px;
    }
    h4.gallery-heading {
        font-size: 20px;
    }
    .text-gallery p {
        font-size: 12px;
    }
    .gallery-li a {
        font-size: 13px;
    }
    .gallery-list {
        top: 466px;
    }
    .images-gallery {
        width: 200px;
        height: 124.02px;
    }
    .picture-section1,
    .picture-section2,
    .picture-section3,
    .picture-section4 {
        display: block;
    }
    .our-gallery {
        height: 824px;
    }
}


/*Media Query ends*/